{% extends "base.html" %}
{% block title %}Search Page{% endblock %}
{% block contents %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="search-result-box card-box">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="pt-3 pb-4">
                <div class="search-form">
                  <form action="#" method="POST">
                      <div class="input-group">
                      <input type="text" name="msg" class="form-control input-lg">
                      <div class="input-group-btn">
                      <button class="btn  btn-primary" type="submit">Search</button>
                      </div>
                      </div>
                  </form>
                </div>

                <div class="mt-4 text-center"><h4>Search Results For {{user_query}}</h4></div>
              </div>
            </div>
          </div>
          <!-- end row -->
         <ul class="nav nav-tabs tabs-bordered">
             <li class="nav-item">
              Search results in {{time_taken}} milliseconds<span class="search-item"></span></a></li>
          </ul>
          
             <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search-item">
                              


                                 <p class="mb-0 text-muted"></p>
                                 
                                 
                                   
                                <table>
                                {%- for row in result_list|batch(1, '&nbsp;') %}
                                  <tr>
                                  {%- for column in row %}
                                    <td> 
                                    <a href={{ column['authorUrl']}} ><li>Author URL: {{ column['authorUrl']| replace("{", "")|replace("}", "") }}</a></li>
            
                                    <a href={{ column['publicationUrl']}} ><li>Publication URL: {{ column['publicationUrl']| replace("{", "")|replace("}", "") }}</a></li>
                                    <i>Description: {{ column['Description']| replace("{", "")|replace("}", "") }}</i>
                                   
                                    </td>
                                  {%- endfor %}
                                  </tr>
                                {%- endfor %}
                                </table>
                                    
                                                            
                              </div>-->
                                <ul class="pagination justify-content-end pagination-split mt-0">
                                  <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                              </ul>
                              <div class="clearfix"></div>
                           </div>
                     </div>
                </div>
                <!-- end All results tab -->

              </div>
            </div>
         </div>
        </div>
        <!-- end row -->


  </div>
  <!-- container -->




{% endblock %}
